/* custom font  */
@font-face {
  font-family: "JunctionLight";
  src: url("./fonts/junction.light-webfont.woff2") format("woff2"),
    url("./fonts/junction.light-webfont.woff") format("woff");
}
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  color: #373d3f;
  font-size: 16px;
  letter-spacing: 0.7px;
  margin: 0;
}
body {
  background-color: rgb(252, 252, 252);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "JunctionLight";
}

.container {
  position: relative;
  width: 80%;
  margin-top: 60px;
}

.box {
  min-width: 200px;
  margin: 20px;
  padding: 10px;
}

.list-group-item {
  border: none;
  background-color: rgb(252, 252, 252);
  font-size: 14px;
}

a h3,
.box > h3 {
  font-size: 18px;
  font-weight: 700;
}
.center-block {
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(226, 226, 226);
}
a.activity-label,
.x-button {
  color: rgb(148, 148, 148);
}

.close-activity {
  float: right;
}

.blog {
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
}

.write {
  height: 100px;
}
.write-input {
  color: rgb(148, 148, 148);
}

.dashboard > * {
  padding: 5px;
}

.project-map {
  width: 175px;
}

.list-group > a {
  border: none;
}

.submit {
  float: right;
  margin-top: 10px;
}

.latest-projects {
  padding-top: 0;
}

.q-action {
  padding: 20px 20px 20px 0;
  color: #373d3f;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}
